.navbar{
    background-color: var(--black);
    position: relative;
    img{
        width: 100px;
    }
    .navbar-nav{
        .nav-link{
            color: var(--secondary);
            font-size: 15px;
            padding-right: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
//navbar-toggler
.navbar-toggler{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    position: relative;
    &:not(&.collapsed){
        .navbar-toggler-icon {
            box-shadow: 0px 0px 0px grey;
            background: rgba(0, 0, 0, 0);
            &::before {
                top: 0px !important;
                transform: rotate(45deg);
            }
            &::after {
                top: 0px !important;
                transform: rotate(135deg);
            }
        }
    }
    .navbar-toggler-icon
    {
        width: 23px;
        height: 2px;
        background: #ded7d7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        &::after,
        &::before
        {
            content: "";
            position: absolute;
            width: 29px;
            height: 2px;
            background: #ded7d7;
            transition: 0.5s;
        }
        &::after{
            top: -7px;
            right: 0px;
        }
        &::before{
            top: 7px;
            right: 0px;
        }
    }
}