/* .App{
    position: relative;
}
.App .top{
    background-color: var(--black);
    position: relative;
} */
.App .white-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255,255,255,.522);
    filter: blur(100px);
    border-radius: 100px;
    z-index: 3;
}